<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        display: block;
        background-color: #2d85c5;
        font-family: "Montserrat", sans-serif;
        color: #333333;
        margin: 0;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin: auto;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .logo {
        display: flex;
        align-items: center;
        margin: 0;
      }
      #mytsu_logo {
        width: 50px;
        margin-right: 15px;
      }
      #mytsu_header {
        font-size: 28px;
        font-weight: 900;
        margin: auto 0;
      }
      p {
        display: block;
        margin: 0;
        margin-bottom: 16px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
      }
      label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      input[type="password"],
      input[type="text"] {
        padding: 10px;
        margin-top: 8px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
      input[type="submit"] {
        background-color: #2d85c5;
        width: 100%;
        border: none;
        padding: 10px 0;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: white;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #316a93;
      }

      .password-toggle {
        width: 100%;
        position: relative;
        display: inline-block;
        cursor: pointer;
      }

      .password-toggle input {
        padding-right: 30px;
      }

      .password-toggle .toggle-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-30%);
        cursor: pointer;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        border: #e5e5e5 1px solid;
        padding: 3px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <section class="container">
      <div class="logo">
        <img id="mytsu_logo" src="<%= path %>/wpf_books.svg" alt="Logo" />
        <h1 id="mytsu_header">MyTSU Classroom</h1>
      </div>
      <p>Password Reset</p>

      <form action="/api/resetpassword?token=<%= token %>" method="post">
        <div class="password-toggle">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
          />
          <div
            class="toggle-icon"
            onclick="togglePasswordVisibility('password')"
          >
            Show
          </div>
        </div>

        <div class="password-toggle">
          <label for="confirm_password">Confirm Password</label>
          <input
            id="confirm_password"
            type="password"
            name="confirm_password"
            placeholder="Confirm password"
          />
          <div
            class="toggle-icon"
            onclick="togglePasswordVisibility('confirm_password')"
          >
            Show
          </div>
        </div>

        <input type="submit" value="Submit" />
      </form>
    </section>
  </body>
  <script nonce="<%= nonce %>">
    function togglePasswordVisibility(inputId) {
      const passwordInput = document.getElementById(inputId);
      const toggleText = document.querySelector(
        `.toggle-icon[onclick="togglePasswordVisibility('${inputId}')"]`
      );

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleText.textContent = "Hide";
      } else {
        passwordInput.type = "password";
        toggleText.textContent = "Show";
      }
    }
  </script>
</html>
